---
import DemoHeader from "../../components/DemoHeader.astro";
import DemoLayout from "../../layouts/DemoLayout.astro";

const title = "rootMargin for Inview";
---

<DemoLayout title={title}>
  <div class="container">
    <DemoHeader title={title} />

    <div class="section">
      <p class="rola-transition rola-fade-in text-large" data-rola-trigger>Rola is a scroll manager.</p>
    </div>
  </div>
</DemoLayout>

<style>
  .rola-transition {
    --duration: 0.6s;
    --easing: ease-out;
    --property: opacity;

    transition: var(--duration) var(--easing);
    transition-property: var(--property);
  }

  .rola-fade-in {
    --duration: 1s;
    --easing: ease;

    &[data-rola-inview="false"] {
      opacity: 0;
    }
    &[data-rola-inview="true"] {
      opacity: 1;
    }
  }

  .rola-blur-in {
    --property: opacity, filter;

    &[data-rola-inview="false"] {
      filter: blur(8px);
      opacity: 0;
    }
    &[data-rola-inview="true"] {
      filter: blur(0);
      opacity: 1;
    }
  }

  .rola-slide-up-in {
    --property: opacity, translate;

    &[data-rola-inview="false"] {
      translate: 0 3rem;
      opacity: 0;
    }
    &[data-rola-inview="true"] {
      translate: 0 0;
      opacity: 1;
    }
  }
</style>

<script>
  import Rola from "@hilosiva/rola";

  new Rola("[data-rola-trigger]", {
    root: document, // iFrame内で利用するため
    rootMargin: "0px 0px -30%",
  });
</script>
